.boxes-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    background-color: #2196F3;
    padding: 0px;
    max-width: 300px;
    margin: auto;
}

.box-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 80px;
  }
