.result {
    margin: 10px auto;
    width: 19%;
    padding: 0px;
    text-align: center;
}

.result-button {
    margin: auto 0px;
    margin-bottom: 10px;
}

.result-text {
    font-size: 30px;
    font-weight: bold;
}